*
    margin: 0
    padding: 0
.nav-arrow i
    color: black
    padding-bottom: 2em

.party-breakdown
    text-align: center
    .tournament,
    .mini-game,
    .eat-drink
        padding-bottom: 2em
        h2
            font-family: 'Press Start 2P', cursive
            padding-bottom: .5em
        p
            color: black
            font-weight: 700
