*
    margin: 0
    padding: 0

.tournament,
.mini-game,
.eat-drink
    padding: 1em 0
    h3
        font-family: 'Press Start 2P', cursive
        padding-bottom: .5em
    p
        font-weight: 700
        padding: 0 1em

.game-image
    width: 50%
    height: auto
    aspect-ratio: 1/1