*
    margin: 0
    padding: 0
    
.body
    font-family: 'Noto Sans', sans-serif
    color: green
    margin-left: 1em
    margin-right: 1em

.navbar
    display: flex

.nav-links
    flex: 1
    text-align: right
    margin-right: 1em

.nav-links ul li 
    list-style: none
    display: inline-block
    padding: 29.92px 0
    margin-left: 32px
    position: relative

.nav-links ul li a 
    color: black
    text-decoration: none


.party-page
    background-color: black
    padding-top: 1em
    border-radius: 8px
    text-align: center
    h1
        font-size: 40px
        line-height: 1em
        font-family: 'Press Start 2P', cursive
        text-align: center
        color: #00ff00
        .forty
            font-size: 100px
            line-height: 2em
    .party-details
            font-weight: 700 
            line-height: 1.5em
            .date-time, .location
                margin: 2em

